<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.2.xsd ">

    <!--springmvc开启包扫描，只扫描controller-->
    <context:component-scan base-package="cn.kgc.U3.controller"/>
    <!--<mvc:annotation-driven />-->
    <mvc:annotation-driven conversion-service="myConversionService">
        <mvc:message-converters>
            <!--装配消息转换器-->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <!--装配日期格式转换器-->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json</value>
                    </list>
                </property>
                <property name="features">
                    <list>
                        <!--
                          QuoteFieldNames : 输出key时是否使用双引号,默认为true
                          WriteMapNullValue : 是否输出值为null的字段,默认为false
                        -->
                        <value>WriteMapNullValue</value>
                        <value>QuoteFieldNames</value>
                    </list>
                </property>
                <property name="dateFormat" value="yyyy-MM-dd HH:mm:ss"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--不拦截静态资源-->
    <mvc:resources mapping="/statics/**" location="/statics/"></mvc:resources>

    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 配置interceptors 拦截器 -->
    <!--<mvc:interceptors>
        <mvc:interceptor>
            &lt;!&ndash;表示拦截所有请求&ndash;&gt;
            <mvc:mapping path="/**"/>
            &lt;!&ndash;排除拦截项&ndash;&gt;
            <mvc:exclude-mapping path="/login/**"/>
            <mvc:exclude-mapping path="/**/fonts/*"/>
            <mvc:exclude-mapping path="/**/*.css"/>
            <mvc:exclude-mapping path="/**/*.js"/>
            <mvc:exclude-mapping path="/**/*.png"/>
            <mvc:exclude-mapping path="/**/*.gif"/>
            <mvc:exclude-mapping path="/**/*.jpg"/>
            <mvc:exclude-mapping path="/**/*.jpeg"/>
            <bean class="cn.kgc.demo.interceptor.SysInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>-->

    <!--装配定义好的转换器-->
    <bean id="myConversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="cn.kgc.U3.config.StringToDateConverter">
                    <constructor-arg type="java.lang.String" value="yyyy-MM-dd"/>
                </bean>
            </list>
        </property>
    </bean>

    <!-- 配置MultipartResolver，用于上传文件，使用spring的CommonsMultipartResolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--最大上传文件大小限制：10Mb  默认单位：b  1024*1024*10 -->
        <property name="maxUploadSize" value="10485760"/>
        <!--默认字符编码-->
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
</beans>
